svg {
	height: 80px;
	width: 80px;
}

circle {
	fill: none;
	stroke-dasharray: 150;
	stroke-width: 4px;
	stroke: #6fdb6f;
	transform-origin: center center;
}

.degrot {
	transform: rotate(-90deg);
}

.degrot-offset {
	transform: rotate(-90.1deg);
}

.degrot-offset-more {
	transform: rotate(-92deg);
}

.turnrot {
	transform: rotate(-0.25turn);
}

.turnrot-offset {
	transform: rotate(-0.251turn);
}


svg[viewBox] circle {
	stroke-dasharray: 300;
	stroke-width: 8px;
}

svg[viewBox].scaledown circle {
	stroke-dasharray: 300;
	stroke-width: 8px;
}

svg[viewBox].noscale circle {
	stroke-dasharray: 150;
	stroke-width: 4px;
}

svg[viewBox].scaleup circle {
	stroke-dasharray: 75;
	stroke-width: 2px;
}

.wc {
	will-change: transform;
}


/* Demo prettification */

p:last-child {
	margin-bottom: 0;
}

td {
	padding: 10px;
}

tr td:first-of-type {
	width: 80px;
	min-height: 80px;
}

tr + tr td {
	border-top: 1px solid #dcdcdc;
}